@charset "utf-8";
@media screen and (max-width: 1900px) {
    .cablecar-w {
        display: none;
    }

    .cablecar {
        display: none;
    }
}

@media screen and (max-width: 1440px) {

    .redesign-wrap-1>div img {
        width: 500px;
    }

    .profile-wrap>p img {
        width: 350px;
        padding-right: 20px;
    }

    .frofile-subtext {
        white-space: nowrap;
    }
}

@media screen and (max-width : 1140px) {
    html {
        font-size: 8px;
    }

    body {
        height: auto !important;
    }

    .profile {
        padding: 180px 60px 80px;
    }

    .profile-wrap {
        justify-content: center;
        gap: 30px;
        padding-top: 60px;
    }

    .frofile-left {
        gap: 60px;
    }

    .top-wrap img {
        width: 20%;
        height: auto;
        object-fit: contain;
    }

    .clone-img1 {
        display: none;
    }

    .frofile-subtext {
        white-space: nowrap;
    }

    .frofile-icons p img {
        width: 30px;
    }

    .profile,
    .clonecoding,
    .redesign,
    .design {
        padding: 100px 0 50px;
    }

    .redesign-wrap-1>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img-wrap img {
        width: 100%;
    }

    .profile-wrap img {
        width: 100%;
    }

    .img-wrap::before {
        top: 65px;
    }

    .redesign-wrap>div img {
        width: 90%;
    }

    .ban-wrap {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .ban-wrap img {
        width: 90%;
    }

    .last-right {
        position: absolute;
        right: 50px;
        bottom: 150px;
    }

    .redesign-wrap-1 img {
        width: 80%;
    }
}

@media screen and (max-width : 1000px) {
    .profile-wrap>p>img {
        width: 280px;
    }

    .profile-wrap {
        justify-content: center;
        gap: 5px;
    }

    .detail-wrap {
        flex-direction: column;
    }

    .img-wrap>div::after {
        display: none;
    }

    .img-wrap>div::before {
        display: none;
    }

    .img-wrap>img {
        display: none;
    }

    .redesign-wrap-1>div img {
        width: 400px;
    }

    .gotop {
        right: 10px;
        bottom: 20px;
    }

    .last-text {
        right: 20px;
    }
}

@media screen and (max-width : 830px) {
    html {
        font-size: 6px;
    }

    .top-wrap {
        white-space: normal;
    }


    .profile-wrap>p>img {
        width: 220px;
        padding: 10px;
    }

    .frofile-icons img {
        width: 30px;
    }

    .frofile-left {
        padding-left: 20px;
    }

    .frofile-right {
        padding-right: 10px;
    }

    .redesign-wrap-1 {
        flex-direction: column;
    }

    .redesign-flex {
        margin-bottom: 50px;
    }

    .clone {
        padding: 20px;
    }

    .clone-subtext p a {
        padding: 10px 20px;
        font-size: 18px;
    }

    .gotop img {
        width: 70px;
    }
}

@media screen and (max-width: 768px) {
    .profile {
        padding: 120px 24px 60px;
    }

    .profile-wrap {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .profile-wrap>p>img {
        width: 200px;
        padding: 10px;
    }

    .clone-subtext {
        align-items: center;
    }

    .clone-subtext p a {
        font-size: 1.8rem;
        padding: 10px 20px;
    }

    .clone-subtext p a::before,
    .clone-subtext p a::after {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width : 550px) {
    html {
        font-size: 6px;
    }

    body {
        height: auto !important;
    }

    .top-wrap {
        width: 100%;
    }

    .top-wrap img {
        width: 10vw;
        height: auto;
        object-fit: contain;
    }

    .cablecar-w {
        display: none;
    }

    .sec1-title,
    .sec2-title,
    .sec3-title,
    .sec4-title {
        margin: 0 auto 50px;
    }

    .profile,
    .clonecoding,
    .redesign,
    .design {
        padding: 100px 20px 50px;
    }

    .h-bg p {
        font-size: 20rem;
        width: 100%;
        text-align: center;
    }

    .profile-wrap {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-top: 50px;
    }

    .profile-wrap img {
        width: 60%;
        height: auto;
    }

    .profile-wrap>p {
        display: flex;
        justify-content: center;
    }

    .frofile-left {
        text-align: center;
    }

    .frofile-right {
        text-align: center;
    }

    .frofile-icons img {
        width: 90%;
    }

    /* clone */
    .sec2-title {
        width: 300px;
    }

    .clone {
        flex-direction: column;
        gap: 30px;
    }

    .clonecoding .clone>div:has(.img-wrap) {
        order: 1 !important;
    }

    .clonecoding .clone>div:has(.clone-text) {
        order: 2 !important;
    }

    .img-wrap img {
        width: 80%;
        height: auto;
    }

    .img-wrap::after {
        display: none;
    }

    .img-wrap::before {
        display: none;
    }


    /* redesign */
    .sec3-title {
        width: 300px;
    }

    .redesign-wrap-1 {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }


    .redesign-wrap-1>div img {
        width: 300px;
    }

    /* design */
    .detailimg img {
        border-radius: 50px;
        width: 300px;
    }

    .detailimg {
        width: 300px;
        height: 500px;
        position: relative;
        transform: perspective(400px);
    }

    .ban-wrap {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .ban-wrap img {
        width: 90%;
    }

    .logo img {
        width: 90%;
    }

    /*  */
    .last-text {
        font-size: 8rem;
        padding-top: 200px;
        padding-bottom: 50px;
    }

    .last-right {
        position: absolute;
        right: 30px;
        bottom: 100px;

    }

    .last-text {
        font-size: 10rem;
    }

    .cablecar {
        width: 50px;
    }

    .gotop img {
        width: 60%;
    }

    .gotop {
        right: 10px;
        bottom: 20px;
    }
}