@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

@font-face {
    font-family: 'GounBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GounBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-size: 10px
}

body {
    height: auto !important;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */
.h-bg {
    width: 100%;
    min-height: 960px;
    height: 100vh;
    background: url('../images/top-bg.png') no-repeat center/cover;
    position: relative;
}

.h-icon img:nth-child(1) {
    position: absolute;
    top: 18%;
    left: 20%;
    width: 30px;
    filter: brightness(0) invert(1);
    animation: yoon 2s infinite alternate;
}

.h-icon p:nth-child(2) img {
    position: absolute;
    top: 60%;
    right: 20%;
    width: 60px;
    filter: brightness(0) invert(1);
    animation: yoon 2.5s infinite alternate;
}

.h-icon p:nth-child(3) img {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 90px;
    filter: brightness(0) invert(1);
    animation: yoon1 3s infinite alternate;
}

.h-icon p:nth-child(4) img {
    position: absolute;
    top: 40%;
    left: 12%;
    width: 70px;
    filter: brightness(0) invert(1);
    animation: yoon1 3.5s infinite alternate;
}

.h-icon p:nth-child(5) img {
    position: absolute;
    top: 35%;
    left: 28%;
    width: 90px;
    filter: brightness(0) invert(1);
    animation: yoon1 3s infinite alternate;
}

.h-icon p:nth-child(6) img {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40px;
    filter: brightness(0) invert(1);
    animation: yoon1 2s infinite alternate;
}

.h-icon p:nth-child(7) img {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 40px;
    filter: brightness(0) invert(1);
    animation: yoon1 2.8s infinite alternate;
}

.h-icon p:nth-child(8) img {
    position: absolute;
    top: 22%;
    left: 23%;
    width: 40px;
    filter: brightness(0) invert(1);
    animation: yoon1 3s infinite alternate;
}

@keyframes yoon {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes yoon1 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* .h-bg p {
    font-family: "EB Garamond", serif;
    font-size: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
} */

.top-wrap {
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.top-wrap img {
    display: inline-block;
    animation: wave 1.5s ease-in-out infinite;
}

@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

}

.top-wrap img:nth-child(1) {
    animation-delay: 0.1s;
}

.top-wrap img:nth-child(2) {
    animation-delay: 0.2s;
}

.top-wrap img:nth-child(3) {
    animation-delay: 0.3s;
}

.top-wrap img:nth-child(4) {
    animation-delay: 0.4s;
}

.top-wrap img:nth-child(5) {
    animation-delay: 0.5s;
}

.top-wrap img:nth-child(6) {
    animation-delay: 0.6s;
}

.top-wrap img:nth-child(7) {
    animation-delay: 0.7s;
}

.top-wrap img:nth-child(8) {
    animation-delay: 0.8s;
}

.top-wrap img:nth-child(9) {
    animation-delay: 0.9s;
}

/* main */
main {
    font-family: "Baloo 2", sans-serif;
    display: block;
    background: linear-gradient(#54a6d6 20%, #2BAEF1 60%, #D0FDFF 90%);
}

/* main>div img {
    position: absolute;
} */

/* cablecar */
.cablecar-w {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 10000;
    pointer-events: none;
    background: url('../images/cableline.png') repeat-x center/100% auto;
    opacity: 0;

}

.cablecar-w.active {
    opacity: 1;
}

.cablecar {
    position: relative;
    width: 80px;
    /* top: 40px; */
    z-index: 11111;
}

/* section-profile */
.profile {
    padding: 300px 120px 100px;
    background: url('../images/main-bg.png') no-repeat;
}

.sec1-title {
    font-size: 5rem;
    background-color: #fff;
    width: 300px;
    text-align: center;
    border-radius: 50px;
    margin: 0 auto 30px;
    font-weight: 600;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.profile-wrap {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    color: #fff;
}

.profile-wrap>p img {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 300px;
}

.frofile-left {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.frofile-bf {
    position: relative;
    padding-bottom: 10px;
    font-size: 3.8rem
}

.frofile-subtext {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'GounBatang';
}

.frofile-subtext span {
    padding-left: 20px;
}

.frofile-icons {
    display: flex;
    gap: 20px;
    padding-top: 10px;
}

.frofile-left-top .frofile-bf::after {
    content: url('../images/about-af.png');
    position: absolute;
    top: 20px;
    left: 0px;
    clip-path: inset(0 100% 0 0);
    transition: clip-path .3s ease;
}

.frofile-left-top .frofile-bf:hover::after {
    clip-path: inset(0 0 0 0);
}

.frofile-left-btm .frofile-bf::after {
    content: url('../images/tools-af.png');
    position: absolute;
    top: 20px;
    left: 0px;
    clip-path: inset(0 100% 0 0);
    transition: clip-path .3s ease;
}

.frofile-left-btm .frofile-bf:hover::after {
    clip-path: inset(0 0 0 0);
}

.frofile-right .frofile-bf::after {
    content: url('../images/ed-af.png');
    position: absolute;
    top: 20px;
    left: 0px;
    clip-path: inset(0 100% 0 0);
    transition: clip-path .3s ease;
}

.frofile-right .frofile-bf:hover::after {
    clip-path: inset(0 0 0 0);
}

/* section2-clonecoding */
.clonecoding {
    padding: 300px 150px 100px;
}

.sec2-title {
    font-size: 5rem;
    background-color: #fff;
    width: 400px;
    text-align: center;
    border-radius: 50px;
    margin: 0 auto 120px;
    font-weight: 600;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.clone {
    text-align: center;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 200px;
}

.clone-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 3rem;
}

.clone-text>p {
    color: #fff;
    font-weight: 500;
    font-size: 3.6rem;

}

/* .clone-subtext {
    display: flex;
    gap: 20px;
    text-align: center;
    font-size: 2.5rem;
}

.clone-subtext p a {
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 30px;
} */
.clone-subtext {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.clone-subtext p a {
    padding: 15px 30px; 
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    border-radius: 50px;
    background: #fff;
    transition: 0.4s;
    font-size: 25px;
    letter-spacing: 2px;
    z-index: 1;
}

.clone-subtext p a:hover {
    color: #fff;
}

/* 파도 연출용 가상 요소 공통 */
.clone-subtext p a::before,
.clone-subtext p a::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 400px;
    height: 400px;
    top: 50%;
    transform: translate(-50%, 0) rotate(0deg);
    transition: top 0.6s ease-in-out;
    z-index: -1;
}

.clone-subtext p a::before {
    border-radius: 45%;
    background: #aaeafd;
    animation: wave-animation 5s linear infinite;
    opacity: 1;
}

.clone-subtext p a::after {
    border-radius: 40%;
    background-color: rgba(105, 212, 245, 0.6);
    animation: wave-animation 10s linear infinite;
    top: 80%;
}

.clone-subtext p a:hover::before {
    top: -100px;
}

.clone-subtext p a:hover::after {
    top: -110px;
}

/* 회전 애니메이션 */
@keyframes wave-animation {
    0% {
        transform: translate(-50%, -2%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -2%) rotate(360deg);
    }
}

.img-wrap>div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    top: -6px;
    border-radius: 180px;
}

.img-wrap>div::after {
    content: "";
    background: url('../images/clone-slide-left.png') no-repeat;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 9;
    transition: all 1s;
}

.img-wrap>div::before {
    content: "";
    background: url('../images/clone-slide-right.png') no-repeat right;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: -3px;
    right: 0;
    z-index: 9;
    transition: all 1s;
}

.img-wrap>div:hover::after {
    left: -500px;
}

.img-wrap>div:hover::before {
    right: -500px;
}

/* section3-redesign */
.redesign {
    padding: 300px 150px 100px;
}

.sec3-title {
    font-size: 5rem;
    background-color: #fff;
    width: 350px;
    text-align: center;
    border-radius: 50px;
    margin: 0 auto 150px;
    font-weight: 600;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.redesign-wrap-1 {
    display: flex;
    justify-content: space-between;
}

.sec3-text1 {
    padding: 50px 0;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

.redesign-flex {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.redesign-flex p {
    background-color: #fff;
    font-size: 2.5rem;
    padding: 10px 20px;
    border-radius: 30px;
}

.redesign-process {
    cursor: pointer;
}
.redesign-flex p {
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    border-radius: 50px;
    background: #fff;
    transition: 0.4s;
    font-size: 20px;
    letter-spacing: 2px;
    z-index: 1;
}

.redesign-flex p a:hover {
    color: #fff;
}

/* 파도 연출용 가상 요소 공통 */
.redesign-flex p a::before,
.redesign-flex p a::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 400px;
    height: 400px;
    top: 50%;
    transform: translate(-50%, 0) rotate(0deg);
    transition: top 0.6s ease-in-out;
    z-index: -1;
}

.redesign-flex p a::before {
    border-radius: 45%;
    background: #aaeafd;
    animation: wave-animation1 5s linear infinite;
    opacity: 1;
}

.redesign-flex p a::after {
    border-radius: 40%;
    background-color: rgba(105, 212, 245, 0.6);
    animation: wave-animation1 10s linear infinite;
    top: 80%;
}

.redesign-flex p a:hover::before {
    top: -100px;
}

.redesign-flex p a:hover::after {
    top: -110px;
}

@keyframes wave-animation1 {
    0% {
        transform: translate(-50%, 0) rotate(0deg);
    }

    100% {
        transform: translate(-50%, 0) rotate(360deg);
    }
}
/* sec4-design */
.design {
    padding: 300px 150px 100px;
}

.sec4-title {
    font-size: 5rem;
    background-color: #fff;
    width: 350px;
    text-align: center;
    border-radius: 50px;
    margin: 0 auto 150px;
    font-weight: 600;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    justify-content: center;
}

.sec4-subtext {
    padding: 160px 0 90px;
    font-size: 3.5rem;
    text-align: center;
}

.detail-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;

}

.detailimg img {
    border-radius: 50px;
    width: 400px;
}

.detailimg {
    width: 400px;
    height: 700px;
    position: relative;
    transform: perspective(400px);
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 2s;
    backface-visibility: hidden;
}

.front {
    transform: rotateY('0deg');
    box-shadow: 5px 70px 20px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

.back {
    transform: rotateY(-180deg);
    border-radius: 50px;
    backface-visibility: hidden;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
}

.back a {
    border: 2px solid #fff;
    padding: 5px 20px;
    border-radius: 50px;
    color: #fff;
    transition: all .5s;
}

.back a:hover {
    background-color: #fff;
    color: black;
}

.de-left {
    background-color: #F1A3A3;
}

.de-right {
    background-color: #F3EAB7;
}

.detailimg:hover .front {
    transform: rotateY(180deg);
}

.detailimg:hover .back {
    transform: rotateY(0deg);
}

/* last */
.last {
    padding: 300px 0;
    position: relative;
}

.last-text {
    font-size: 20rem;
    font-family: "EB Garamond", serif;
    text-align: center;
}

.last-text2 {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    font-family: "EB Garamond", serif;
}

.last-right {
    position: absolute;
    right: 100px;
    bottom: 150px;
}

.last a {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 1.2rem;
}

.last a:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid transparent;
}

.last-sub-text {
    padding-top: 20px;
    font-size: 1.4rem;
}

/* gotop */
.gotop {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    z-index: 999;
}